/* Redefine base colors */
.root {
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(255, 255, 255);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    /* text fields and table rows background */
    -fx-control-inner-background: rgb(255, 255, 255);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(0, 0, 0);
    -fx-mid-text-color: rgb(0, 0, 0);
    -fx-dark-text-color: rgb(0, 0, 0);

    /* selected text, selected items*/
    -fx-accent: rgb(31, 94, 131);

    /* unfocused, selected elements */
    -fx-selection-bar-non-focused: rgb(194, 194, 194);
}

.button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: rgb(141, 141, 141);
    -fx-border-radius: 2px;
}

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: grey;
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%) !important;
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: grey;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(194, 194, 194);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(194, 194, 194);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(194, 194, 194);
}